@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v8/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
  text-decoration: underline;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  display: flex;
  max-width: 100%;
  height: auto;
}
.lightgreen {
  background-color: rgba(0, 250, 154, 0.712);
  color: #FAFAFA;
  font-size: 2rem;
  font-weight: bold;
}
.lightgreen:hover {
  background-color: #FAFAFA;
  color: rgba(0, 250, 154, 0.712);
}
.lightpurple {
  background-color: #5F336C;
  color: #FAFAFA;
  font-size: 2rem;
  font-weight: bold;
}
.lightpurple:hover {
  background-color: #FAFAFA;
  color: #5F336C;
}
.nav-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 800px;
  margin: 0 auto;
}
.nav-header #nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.nav-header #nav a {
  width: 100%;
  margin: 10%;
  display: inline-block;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}
.nav-header #nav a:hover {
  color: #FAFAFA;
  font-size: 2.3rem;
}
footer {
  width: 100%;
}
footer p {
  text-align: center;
  font-size: 1.6rem;
  padding: 20px;
}
.home .bck-ground {
  width: 100%;
  height: auto;
  padding: 5%;
  background-color: #BAA6CE;
}
.home header .recptLogo {
  width: 45%;
}
.home header #nav {
  width: 50%;
  padding: 10% 0 0 0;
}
.home header #nav a {
  margin: 5% 1%;
  width: 10%;
  font-size: 2.3rem;
  color: #FAFAFA;
  font-weight: 900;
}
.home .top-content {
  display: flex;
  justify-content: space-evenly;
}
.home .top-content .user-btns {
  display: flex;
  width: 30%;
  height: auto;
  margin: 3% 0 0 0;
}
.home .top-content .user-btns a {
  width: 100%;
  height: auto;
  margin: 3% 0 0 0;
}
.home .top-content .user-btns a .lightpurple {
  width: 100%;
  border-radius: 10px;
  padding: 2%;
}
.home .top-content .user-btns a .lightgreen {
  width: 100%;
  border-radius: 10px;
  padding: 2%;
}
.home .bottom-content {
  display: flex;
  align-content: center;
}
.home .bottom-content .btm-text {
  margin: 1%;
}
.home .bottom-content .btm-text .btn {
  display: block;
  border-radius: 10px;
  margin: 0 10px 20px;
  padding: 6px 0;
  background-color: #5F336C;
  color: #BAA6CE;
  cursor: pointer;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 150px;
  font-size: 1.6rem;
}
.home .bottom-content .btm-text .btn:hover {
  background-color: #BAA6CE;
  color: #FAFAFA;
  margin: 1%;
  padding: 2% 0;
}
.home .bottom-content h4 {
  text-align: center;
}
.home .bottom-content .btm-text {
  align-items: center;
}
@media (max-width: 712px) {
  .bck-ground {
    align-items: center;
  }
  .bck-ground .nav-header {
    display: flex;
    flex-direction: column;
  }
  .bck-ground .nav-header #nav {
    padding: 3% 0;
  }
  .home .top-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .home .top-content .user-btns {
    width: 100%;
  }
}
@media (max-width: 595px) {
  .bottom-content {
    flex-direction: column;
    align-items: center;
  }
  .bottom-content p {
    display: none;
  }
}
.about header {
  background-color: #BAA6CE;
  height: auto;
  border-radius: 20px;
  padding: 1%;
}
.about header .recptLogo {
  width: 45%;
}
.about header #nav {
  width: 50%;
  padding: 6% 0 0 0;
}
.about header #nav a {
  margin: 5% 1%;
  width: 10%;
  font-size: 2.3rem;
  color: #FAFAFA;
  font-weight: 900;
}
.about article {
  margin: 5%;
  padding: 0 9%;
}
.about article .greyBck-ground {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(211, 211, 211, 0.342);
  padding: 5%;
  border-radius: 20px;
  border: 4px dashed rgba(211, 211, 211, 0.425);
}
.about article .greyBck-ground h2 {
  padding: 0 0 3% 0;
}
.about article .meetTheTeam {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  font-size: 1.9rem;
}
.about article .meetTheTeam .teamTitle {
  width: 60%;
  padding: 4% 0 0 3%;
}
.about article .meetTheTeam .list {
  margin: 3% 0;
  width: 100%;
}
.about article .meetTheTeam .list ul {
  width: 100%;
}
.about article .meetTheTeam .list li {
  width: 100%;
  margin: 1%;
  padding: 2%;
  font-size: 1.6rem;
}
.about article .meetTheTeam .list li a {
  color: #5F336C;
}
.about article .meetTheTeam .list li a:hover {
  font-size: 2.3rem;
}
.about .bottom-btn {
  flex-direction: row;
  align-content: center;
}
@media (max-width: 827px) {
  .about .nav-header {
    flex-direction: column;
  }
  .about .nav-header #nav {
    width: 100%;
  }
  .about .meetTheTeam {
    flex-direction: column;
    align-items: center;
  }
  .about .meetTheTeam .teamTitle {
    text-align: center;
  }
  .about .meetTheTeam .list {
    align-items: center;
    border: 1px solid blue;
  }
  .about .meetTheTeam .list li {
    text-align: center;
  }
}
.product header {
  display: flex;
  flex-direction: column;
}
.product header .recptLogo {
  width: 80%;
}
.product header #nav {
  width: 60%;
}
.product header #nav a {
  margin: 5% 1%;
  width: 10%;
  font-size: 2.3rem;
  color: #FAFAFA;
  font-weight: 900;
}
.product header #nav a:hover {
  font-size: 3rem;
}
.product .about-top-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product .about-top-content .top-right-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product .about-top-content .top-right-content .app-img {
  display: flex;
  width: 100%;
  justify-content: center;
}
.product .about-top-content .top-right-content .app-img .appLogo {
  width: 5%;
  height: auto;
  margin: 1%;
}
.product .about-top-content .top-right-content .btn-display {
  display: flex;
  width: 30%;
  height: auto;
  margin: 3% 0 0 0;
}
.product .about-top-content .top-right-content .btn-display a {
  width: 100%;
  height: auto;
  margin: 3% 0 0 0;
}
.product .about-top-content .top-right-content .btn-display a button {
  width: 100%;
  border-radius: 10px;
  padding: 2%;
}
.product .about-top-content .imgCoffeeShop {
  max-width: 27%;
  height: auto;
  margin: 0;
  border-radius: 110px;
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product .bottom-content {
  display: flex;
  align-content: center;
}
.product .bottom-content .btm-text {
  margin: 1%;
}
.product .bottom-content .btm-text .btn {
  display: block;
  border-radius: 10px;
  margin: 0 10px 20px;
  padding: 6px 0;
  background-color: #5F336C;
  color: #BAA6CE;
  cursor: pointer;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 150px;
  font-size: 1.6rem;
}
.product .bottom-content .btm-text .btn:hover {
  background-color: #BAA6CE;
  color: #FAFAFA;
  margin: 1%;
  padding: 2% 0;
}
@media (max-width: 595px) {
  .product #nav {
    width: 100%;
  }
  .product .bottom-content .btm-text h4 {
    text-align: center;
  }
}
