.home {


    .bck-ground {
        height: 400px;
        background-color: #5F336C;
    }
}

.about {

    .container1 {
        width: 75%;
        height: auto;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .bottom-btn {
        flex-direction: row;
    }

}

.product {
    header {
        display: flex;
        flex-direction: column;

        .recptLogo {
            width: 90%;
        }

        #nav {
            a {
                margin: 5% 1%;
                width: 10%;
                font-size: 2.6rem;
            }

        }
    }

    .about-top-content {
        // border: 1px solid red;
        display: flex;
        flex-direction: column;

        align-items: center;

        .top-right-content {
            display: flex;
            // border: 1px solid red;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .app-img {
                display: flex;
                width: 100%;
                // border: 1px solid red;

                justify-content: center;

                .appLogo {
                    width: 10%;
                    height: 80%;
                    margin: 1%;
                    // border: 1px solid red;
                }
            }

            .btn-display {
                display: flex;
                width: 30%;
                height: 50px;
                margin: 3%;

                // flex-direction: column;
                // border: 1px solid red;

                button {
                    width: 100%;
                    border-radius: 10px;

                    // .custom-btn (9%, 1.4rem, @lightgreen, @lightpurple);
                }

            }

        }

        .imgCoffeeShop {
            max-width: 35%;
            height: auto;
            margin: 0;
            border-radius: 110px;
        }
    }

    .bottom-content {
        display: flex;
        align-content: center;

        .btm-text {
            margin: 1%;

            .btn {
                .custom-btn(150px, 1.6rem, @lightpurple, @darkpurple);
            }

        }
    }
}