// Color assignments 



// Colors
@white: #FAFAFA;
@lightpurple: #BAA6CE;
@darkpurple: #5F336C;
@black: #2C2C2C;
@lightgreen: rgba(0, 250, 154, 0.712);

// media updates for screen sizes
@mobile: ~"(max-width: 500px)";